.footer {
    display: flex;
    color: #ffffff;
    min-height: 350px;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #1f1f1f;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
  }